assert_lefthook_installed = true
min_version = "2.0.15"
source_dir = ".config/lefthook"
source_dir_local = ".config/lefthook-local"

[commit-msg.scripts."conventional-commit.sh"]
runner = "bash"

[pre-commit]
parallel = true

[[pre-commit.jobs]]
name = "validate"
glob = ".config/lefthook.toml"
run = "lefthook validate"

[[pre-commit.jobs]]
name = "python"
glob = ["*.py"]
file_types = ["text/x-python"]
group.jobs = [
    { run = "ruff format" },
    { run = "ruff check --fix" },
    { run = "ty check" },
    { run = "deptry {staged_files}" },
]

[[pre-commit.jobs]]
name = "pyproject.toml"
glob = ["pyproject.toml"]
file_types = ["text"]
group.jobs = [
    { run = "deptry ." },
    { run = "ruff format {staged_files}" },
    { run = "uv lock --no-progress --check" },
]

[[pre-commit.jobs]]
name = "uv.lock"
glob = ["uv.lock"]
file_types = ["text"]
group.jobs = [{ run = "uv lock --no-progress --check" }]

[[pre-commit.jobs]]
name = "marimo check"
glob = ["*.nb.py"]
file_types = ["text/x-python"]
run = "marimo check --strict --fix {staged_files}"
